header {
    background-color: antiquewhite;
    text-align: center;
    padding: 15px;
}
hr {
    border-top: 1px solid #043a0e; 
    width: 100%;
}
a{
    padding-right: 20px;
    color: rgb(69, 5, 5);
}
body {
    font-family: cursive;
    background-color: rgb(252, 248, 243); 
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0;
    margin:  0;
}
h1{
    font-family: Arial;
}

table {
font-family: monospace;
width: 100%; /* Tableau largeur de 100% de la section */
border-collapse: collapse; /* Fusionnez les bordures des cellules du
tableau */
margin-top: 20px; /* Ajoutez une marge au-dessus du tableau */ }
table th, table td {
padding: 10px; /* Ajoutez de l'espacement interne aux cellules / text-align: center; / Centrez le contenu du tableau */
}
nav a{
    text-decoration: double;
    color: rgb(255, 3, 3); 
    margin:  10px;
}

section{
    margin:  10px;
}

footer{
    background-color: antiquewhite;
    padding:  15px;
}